<h1 style="text-align: center;"> DASAR-DASAR PYTHON </h1>

Source: [bisa.ai](https://bisa.ai/)

<h1 style="text-align: center;"> BAB 1 TIPE DATA </h1>

Tipe data digunakan untuk mengidentifikasi data apa yang diinput pada suatu variabel. Data yang diinput akan disimpan pada variabel tersebut.

## 1.1. Numeric

Tipe data pertama yaitu tipe data numerik (numeric). Tipe data numerik merupakan jenis data berupa angka. terdapat 3 jenis data numeric yaitu integer, float, dan complex number.

### 1.1.1. Integer

Integer merupakan tipe data berupa bilangan bulat. Integer dapat dituliskan sebagai 'int'.

In [1]:
ini_variabel = 250

print(f"ini_variabel = {ini_variabel}")
print(f'Tipe data variabel ini = {type(ini_variabel)}')

ini_variabel = 250
Tipe data variabel ini = <class 'int'>

### 1.1.2. Float

Float merupakan tipe data berupa bilangan desimal. Float dapat dituliskan dengan 'float'. Ketika kita menuliskan nilai desimal pada suatu variabel dengan mendefinisikan tipe data tersebut berupa integer, maka angka setelah koma akan diabaikan.

In [2]:
ini_variabel = 11.333
ini_variabel_integer = int(ini_variabel)

print(f"ini_variabel_integer = {ini_variabel_integer}")
print(f'Tipe data variabel ini = {type(ini_variabel_integer)}')
print(f"ini_variabel = {ini_variabel}")
print(f'Tipe data variabel ini = {type(ini_variabel)}')

ini_variabel_integer = 11
Tipe data variabel ini = <class 'int'>
ini_variabel = 11.333
Tipe data variabel ini = <class 'float'>

### 1.1.3. Complex Number

Complex number merupakan tipe data yang terdiri dari bilangan real dan bilangan imajiner. Complex number dapat dituliskan dengan 'complex'. Tipe data ini banyak digunakan pada notasi matematika.

In [3]:
ini_variabel = 1 + 4j

print(f"ini_variabel = {ini_variabel}")
print(f"Tipe data = {type(ini_variabel)}")

ini_variabel = (1+4j)
Tipe data = <class 'complex'>

## 1.2. String

String merupakan tipe data berupa teks. String dapat dituliskan dengan 'str'. String dapat dideklarasikan dengan menggunakan kutip tunggal atau ganda.

In [4]:
kutip_tunggal = 'string dengan kutip tunggal'
kutip_ganda = "string dengan kutip ganda"

print(kutip_tunggal)
print(kutip_ganda)
print(f"tipe data kutip tunggal = {type(kutip_tunggal)}")
print(f"tipe data kutip ganda = {type(kutip_ganda)}")

string dengan kutip tunggal
string dengan kutip ganda
tipe data kutip tunggal = <class 'str'>
tipe data kutip ganda = <class 'str'>

Untuk membuat string multi-line atau lebih dari 1 baris, dapat menggunakan kutip tunggal ataupun ganda sebanyak 3 kali. Jika menggunakan string ini, didalam string dapat mengandung tanda kutip, karena tanda tersebut tidak akan dibaca oleh sistem sebagai penutup.

In [5]:
s = '''ini merupakan string multi-line
kita coba untuk menulis tanda kutip '" 
ini baris ke3 dan tidak eror'''

print(s)

ini merupakan string multi-line
kita coba untuk menulis tanda kutip '"
ini baris ke3 dan tidak eror

Tipe data string pada python juga dapat digabungkan dengan menggunakan tanda plus atau operator tambah pada aritmatika (+).

In [6]:
s = "string pertama"
t = "string kedua"

print(s + " dan " + t)

string pertama dan string kedua

String merupakan tipe data yang bersifat immutable, artinya objek pada tipe data ini tidak dapat diubah. Namun karakter pada string bersifat mutable, hanya dapat dilakukan slicing.

In [7]:
s = "String bersifat Immutable"

print(s[3])
print(s[7:15])

i
bersifat

## 1.3. List

List merupakan tipe data berurutan atau ordered sequence. Dengan menggunakan list, kita bisa menyimpan lebih dari satu nilai pada satu variabel. Deklarasi list ditandai dengan kurung siku ([]) dan dipisahkan dengan koma. List bersifat mutable, artinya elemen didalam list dapat diubah dan diakses menggunakan proses slicing. Index pada elemen list dimulai dari 0. List pada Python seperti sebuah array pada bahasa pemrograman lain, bedanya jika pada array, tipe data pada elemen hanya bisa satu tipe data, sedangkan pada list, elemen tidak harus memiliki tipe data yang sama.

In [8]:
contoh_list = ['a', 1, 4.5, 'b']

print("Elemen List\t" + "\t".join(map(str, contoh_list)))
print("Index\t\t" + "\t".join(map(str, range(len(contoh_list)))))

Elemen List	a	1	4.5	b
Index		0	1	2	3

Berikut merupakan cara untuk menggunakan proses slicing untuk mengakses elemen yang terdapat pada list. Asumsikan bahwa kita mempunya sebuah variabel dengan tipe data list bernama var_list.
- var_list[i], memilih elemen pada index ke-i dalam elemen python, dihitung mulai dari index awal, yaitu 0.
- var_list[-i], memilih elemen pada index ke-i dalam elemen python, dihitung mulai dai index akhir, yaitu index ke-n.
- var_list[i:j], memilih elemen dalam range mulai dari index ke-i sampai index ke-(j-1).
- var_list[:j), memilih elemen dalam range mulai dari index awal, yaitu index 0 sampai index ke-(j-1).
- var_list[-i:], memilih elemen dalam range mulai dari index ke-i sampai index terakhir, yaitu index ke-(n-1)
- var_list[i:jik], memilih elemen dalam range mulai dari index ke-i sampai index ke-(j-1) dengan 'step' k.

In [9]:
var_list = [3, 'test', 7.5, 'b', 1, 6, 4]

print(var_list[2])
print(var_list[-2])
print(var_list[1:4])
print(var_list[:4])
print(var_list[-2:])
print(var_list[1:6:2])

7.5
6
['test', 7.5, 'b']
[3, 'test', 7.5, 'b']
[6, 4]
['test', 'b', 6]

Karena list merupakan tipe data yang bersifat mutable, kita dapat mengubah elemen dalam list, menambahkan ataupun menghapus elemen.

### 1.3.1. Menambahkan Elemen List

Terdapat beberapa cara untuk menambahkan elemen pada list:
1. Dengan menggunakan method append, maka kita akan menambahkan elemen baru ke dalam list pada urutan terakhir.

In [10]:
hewan = ['kucing', 'burung', 'kelinci', 'anjing']
print(hewan)

hewan.append('kuda')
print(hewan)

['kucing', 'burung', 'kelinci', 'anjing']
['kucing', 'burung', 'kelinci', 'anjing', 'kuda']

2. menggunakan method extend. Dengan metode ini, jika kita menambahkan elemen list beerupa tipe data list, maka semua elemen list yang baru akan digabungkan dengan elemen list yang ada.

In [11]:
hewan = ['kucing', 'burung', 'kelinci']
warna = ['merah', 'kuning']
hewan.append(warna)
print(hewan)

hewan2 = ['kucing', 'burung', 'kelinci']
warna = ['merah', 'kuning']
hewan2.extend(warna)
print(hewan2)

['kucing', 'burung', 'kelinci', ['merah', 'kuning']]
['kucing', 'burung', 'kelinci', 'merah', 'kuning']

3. Dengan menggunakan method insert. Kita dapat menentukan pada indeks ke berapa elemen baru yang akan ditambahkan.

In [12]:
hewan = ['kucing', 'burung', 'kelinci', 'anjing']
print (hewan)

hewan.insert(0, 'kuda')
print (hewan)

['kucing', 'burung', 'kelinci', 'anjing']
['kuda', 'kucing', 'burung', 'kelinci', 'anjing']

4. Mengubah elemen list untuk mengubah elemen dalam list bisa menggunakan konsep yang sama dengan replace. Tentukan elemen pada indeks keberapa yang akan diubah terlebih dahulu.

In [13]:
hewan = ['kucing', 'burung', 'kelinci'] 
print(hewan)

hewan [0] = 'anjing' 
print(hewan)

['kucing', 'burung', 'kelinci']
['anjing', 'burung', 'kelinci']

### 1.3.2. Menghapus Elemen List

Terdapat 3 cara untuk menghapus elemen pada list:
1. Menggunakan fungsi del. Fungsi ini akan menghapus elemen berdasarkan indeks.

In [14]:
hewan = ['kucing', 'burung', 'anjing', 'kelinci']
print(hewan)

del hewan[2]
print(hewan)

['kucing', 'burung', 'anjing', 'kelinci']
['kucing', 'burung', 'kelinci']

2. Menggunakan method remove. Method ini akan menghapus elemen pada list berdasarkan nama dari elemen tersebut.

In [15]:
hewan = ["kucing", "burung", "anjing", "kelinci"]
print(hewan)

hewan.remove("anjing")
print(hewan)

['kucing', 'burung', 'anjing', 'kelinci']
['kucing', 'burung', 'kelinci']

3. Menggunakan method pop. Cara kerja method ini yaitu mengeluarkan elemen pada list sehingga elemen yang dikeluarkan dapat dimasukkan kembali pada variabel lain.

In [16]:
hewan = ["kucing", "burung", "anjing", "kelinci"]
print(hewan)

out = hewan.pop(2)
print(hewan)
print(out)

['kucing', 'burung', 'anjing', 'kelinci']
['kucing', 'burung', 'kelinci']
anjing

Pada list juga terdapat beberapa operasi yang dapat dilakukan, yaitu menghitung banyaknya elemen pada list, menemukan indeks pada suatu elemen, mengurutkan elemen, menggabungkan list, melakukan replikasi, dan lain sebagainya.

In [17]:
hewan = ['kucing', 'burung', 'anjing', 'kelinci']
angka = [4, 2, 8, 2]

# Menghitung banyaknya elemen pada list hewan menggunakan fungsi len
print(f"len hewan = {len(hewan)}")

# Mengetahui index pada elemen tertentu menggunakan method index
print(f"index hewan = {hewan.index('burung')}")

# Menghitung banyaknya elemen tertentu menggunakan method count
print(f"count angka 2 = {angka.count(2)}")

# Mengurutkan elemen pada list dengan fungsi sort
hewan.sort()
print(f"hewan.sort = {hewan}")

# Mengurutkan elemen secara descending
hewan.sort(reverse = True)
print(f"hewan reverse sort = {hewan}")

# Menggabungkan menggunakan operator +
print(f"hewan + angka = {hewan + angka}")

# Mereplikasi menggunakan operator *
print(f"angka x 2 = {angka * 2}")

len hewan = 4
index hewan = 1
count angka 2 = 2
hewan.sort = ['anjing', 'burung', 'kelinci', 'kucing']
hewan reverse sort = ['kucing', 'kelinci', 'burung', 'anjing']
hewan + angka = ['kucing', 'kelinci', 'burung', 'anjing', 4, 2, 8, 2]
angka x 2 = [4, 2, 8, 2, 4, 2, 8, 2]

## 1.4. Tuple

Tipe data tuple merupakan tipe data yang mirip dengan list, perbedaannya hanya terdapat pada sifat dari tipe datanya. Tuple merupakan tipe data terurut atau ordered sequence yang bersifat immutable, artinya elemen pada tuple dapat diakses menggunakan proses slicing namun nilainya tidak dapat diubah. Tuple dideklarasikan dengan tanda kurung() dan elemen di dalamnya dipisahkan dengan koma.

In [18]:
var_tuple = ("a", 5, "s", "r", 6)
print(type(var_tuple))

# proses slicing
print(var_tuple[2])
print(var_tuple[1:4])
print(var_tuple[:5])

<class 'tuple'>
s
(5, 's', 'r')
('a', 5, 's', 'r', 6)

Merubah elemen pada tuple akan mendapatkan pesan eror.

In [19]:
var_tuple = ("a", 5, "s", "r", 6)
var_tuple[1] = "ganti"

print(type(var_tuple))

TypeError: 'tuple' object does not support item assignment

## 1.5. Set

Set merupakan tipe data kumpulan elemen yang bersifat tidak terurut atau unordered collection. Karena merupakan tipe data yang tidak terurut, maka kita tidak bisa melakukan proses slicing. Set dideklarasikan dengan kurung kurawal{}. Elemen dalam set dipisahkan dengan koma.

In [20]:
var_set = {1, 8, 2, "a", 5, 4, "b", 7, 4, 4, 4}
print(var_set)
print(type(var_set))

{1, 2, 4, 5, 7, 8, 'a', 'b'}
<class 'set'>

Apabila kita mencoba melakukan proses slicing berdasarkan indeks, maka anak mendapatkan pesan eror.

In [21]:
var_set = {1, 8, 2, "a", 5, 4, "b", 7, 4, 4, 4}
print(var_set[3])

TypeError: 'set' object is not subscriptable

Tipe data set juga dapat digunakan untuk melakukan proses himpunan seperti pada himpunan matematika, yaitu melakukan union, intersection, dan lain sebagainya.

In [22]:
var_set1 = {4, 1, 2, 3, 4, 4, 5, 6}
var_set2 = {6, 8, 8, 9, 2, 7}

print(var_set1.intersection(var_set2))
print(var_set1.union(var_set2))
print(var_set1.difference(var_set2))

{2, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 4, 5}

Walaupun tidak dapat diubah, elemen pada tipe data set masih dapat dihapus dan ditambahkan.

In [23]:
var_set = {4, 1, 2, 3, 4, 4, 5, 6}

#hapus elemen set berdasarkan nama elemennya menggunakan method remove
var_set.remove(6)
print(var_set)

#tambah elemen set menggunakan method add
var_set.add(10)
print(var_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10}

## 1.6. Dictionary

Dictionary merupakan tipe data python yang memiliki pasangan kunci dan nilai (key-value pairs). Untuk mengakses elemen pada dictionary, kita perlu mengetahui key pada elemen tersebut. Dictionary merupakan tipe data yang bersifat mutable, artinya elemen berupa value dalam dictionary dapat diubah tetapi key-nya tidak dapat diubah, karena key bersifat unik. Selain unik, key pada dictionary dapat menggunakan tipe data yang bervariasi dan untuk mengubah key terdapat beberapa pendekatan khusus. Dictionary dideklarasikan dengan tanda kurung kurawal{} dengan elemen pasangan key dan value-nya dipisahkan dengan koma. Pemisah antara key dan value menggunakan titik dua(key: value).

In [24]:
var_dict = {"nama": "Arif", 
            "umur": 25, 
            "key": "value",
            "test": 100}

print(var_dict)

{'nama': 'Arif', 'umur': 25, 'key': 'value', 'test': 100}

Karena dictionary bukan merupakan tipe data terurut, maka ketika kita mencoba untuk mengakses elemen pada dictionary menggunakan indeks, sistem akan menganggap indeks yang kita maksud adalah sebuah key. Sehingga jika key tersebut tidak terdapat pada dictionary, maka akan menghasilkan sebuah pesan eror.

In [25]:
print(var_dict(2))

TypeError: 'dict' object is not callable

## 1.7. Konversi Tipe Data

Beberapa tipe data dapat dikonversi menjadi tipe data yang lain menggunakan fungsi bawaan yang telah tersedia pada Python dengan syarat bahwa tipe data yang mau dikonversi memenuhi kriteria tertentu yang memungkinkan untuk dikonversi. Seperti contoh, tipe data string dengan nilai 10px tidak akan bisa dikonversi menjadi tipe data integer, karena pada nilai tersebut terdapat karakter yang tidak memungkinkan untuk dikonversi kedalam integer. Kriteria lain untuk mengkonversi tipe data adalah sesuaikan kedua tipe data, jika tipe data yang mau dikonversi merupakan tipe data jenis kumpulan elemen, maka konversi juga ke tipe data yang sama, yaitu tipe data jenis kumpulan. Berikut akan diberikan contoh beberapa konversi tipe data.

<img src=".\image\konversi_tipe_data.png" alt="konversi_tipe_data.png" style="width: 100%;">

In [26]:
var_int = 3
var_float = 4.777
var_string = '-10'

#konversi integer to float 
print(float(var_int))
print(type(float(var_int)))

#konversi float to integer 
print(int(var_float))
print(type(int(var_float)))

#konversi float to String 
print(str(var_float))
print(type(str(var_float)))

#konversi string to integer 
print(int(var_string))
print(type(int(var_string)))

3.0
<class 'float'>
4
<class 'int'>
4.777
<class 'str'>
-10
<class 'int'>

Konversi tipe data yang merupakan kumpulan data.

In [27]:
var_list = [1,2,4,2,2,3]
var_tuple = (1,5,2,3,5,4)
var_set = {6,8,7,7,7,9,5}

#konversi list to tuple 
print(tuple(var_list))

#konversi list to set 
print(set(var_list))

#konversi tuple to list 
print(list(var_tuple))

#konversi tuple to set 
print(set(var_tuple))

#konversi set to list 
print(list(var_set))

#konversi set to tuple 
print(tuple(var_set))

(1, 2, 4, 2, 2, 3)
{1, 2, 3, 4}
[1, 5, 2, 3, 5, 4]
{1, 2, 3, 4, 5}
[5, 6, 7, 8, 9]
(5, 6, 7, 8, 9)

<h1 style="text-align: center;"> BAB 2 OPERASI PADA PYTHON </h1>

Berikut adalah beberapa operator python yang sering digunakan.

## 2.1. Operator Aritmatika

<img src=".\image\operator_aritmatika.png" alt="operator_aritmatika.png" style="width: 100%;">

## 2.2. Operator Perbandingan

<img src='.\image\operator_perbandingan.png' alt='operator_perbandingan.png' style='width: 100%;'>

## 2.3. Operator Logika

<img src='.\image\operator_logika.png' alt='operator_logika.png' style='width:100%;'>

<h1 style="text-align: center;"> BAB 3 SELEKSI KONDISI </h1>

Seleksi kondisi merupakan suatu pernyataan pengambilan keputusan, dimana statement atau block code akan dieksekusi jika suatu kondisi terpenuhi. Jika tidak, maka program akan mengeksekusi statement atau block code yang lain sesuai dengan kondisinya.

## 3.1. If

Pada seleksi kondisi if statement akan dieksekusi jika kondisi terpenuhi. Jika tidak maka, tidak ada statement yang dieksekusi. Statement if dideklarasikan dengan titik dua(:).

In [28]:
kondisi = True
if kondisi:
    print("Statement yang dieksekusi jika kondisi terpenuhi")
    
# Contoh kasus
nilai = 80
if nilai >= 80:
    print("lulus")

Statement yang dieksekusi jika kondisi terpenuhi
lulus

## 3.2. If Else

Jika kita memiliki statement lain ketika kondisi dalam if tidak terpenuhi, maka kita bisa menggunakan statement else. Statement else hanya bisa digunakan jika terdapat statement if.

![if_else.png](.\image\if_else.png)

In [29]:
nilai = 80
if nilai > 80:
    print("Lulus")
else:
    print("Tidak Lulus")

Tidak Lulus

## 3.3. Elif

Jika kita mempunyai kondisi lebih dari 1, maka dapat menggunakan statement elif. Elif bisa dianggap juga sebagai if bertingkat. Jika kondisi 1 tidak terpenuhi, sistem akan memeriksa kodisi selanjutnya, jika tidak ada yang terpenuhi, maka akan dikembalikan ke statement else.

In [30]:
nilai = 90

if 60 <= nilai < 70:
    print("Grade C")
elif 70 <= nilai < 80:
    print("Grade B")
elif 80 <= nilai <= 100:
    print("Grade A")
else:
    print("Tidak Lulus")

Grade A

## 3.4. Nested If Else

Pada nested if else statement, kita memiliki kondisi lain yang hanya akan dieksekusi jika kondisi sebelumnya sudah terpenuhi. Sederhananya kita memiliki if statement di dalam if statement.

![nested_if_else.png](.\image\nested_if_else.png)

In [31]:
jumlah_kaki = 4
suara = "meong"
kategori = "mamalia"

if jumlah_kaki == 4:
    print("kemungkinan kucing = 25%")
    print("kemungkinan anjing = 25%")
    print("kemungkinan buaya = 25%")
    print("========== Kondisi Pertama ==========")
    
    if kategori == "mamalia":
        print("kemungkinan kucing = 75%")
        print("kemungkinan anjing = 75%")
        print("========== Kondisi Kedua ==========")
        
        if suara == "meong":
            print("kemungkinan kucing = 100%")

kemungkinan kucing = 25%
kemungkinan anjing = 25%
kemungkinan buaya = 25%
========== Kondisi Pertama ==========
kemungkinan kucing = 75%
kemungkinan anjing = 75%
========== Kondisi Kedua ==========
kemungkinan kucing = 100%

<h1 style="text-align: center;"> BAB 4 PERULANGAN (LOOPING) </h1>

Sama seperti bahasa pemrograman yang lain, bahasa pemrograman Python juga memiliki sebuah fungsi perulangan yang biasa disebut Loop/Looping. Loop adalah sebuah modul dari bahasa pemrograman yang berfungsi untuk melakukan sebuah proses perulangan dalam program, misalnya dalam program terdapat perintah untuk menampilkan tulisan Hello World sebanyak 1000 kali, jika tanpa menggunakan fungsi Looping, maka perlu menuliskan perintah print(Hello World) sebanyak 1000 kali. Sedangkan dengan menggunakan fungsi Looping, untuk melakukan perintah tersebut hanya diperlukan beberapa baris. Kode looping di dalam bahasa pemrograman Python dibagi berdasarkan 2 jenis yaitu For Loop dan While Loop.

## 4.1. For Loop

For Loop adalah sebuah metode perulangan di Python yang mana digunakan apabila sudah diketahui atau telah ditentukan berapa banyaknya perulangan yang akan dijalankan. For Loop dituliskan dengan sintaks for, kemudian diikuti dengan nama variabel yang akan dilooping dan seberapa banyak perulangan yang diinginkan.

In [32]:
for i in range(0, 10):
    print(f"angka ke {str(i)}")

angka ke 0
angka ke 1
angka ke 2
angka ke 3
angka ke 4
angka ke 5
angka ke 6
angka ke 7
angka ke 8
angka ke 9

Penulisan statement atau block code dalam perulangan harus memiliki indentasi yang menandakan bahwa statement tersebut merupakan bagian dari for loop. Kode diatas merupakan perintah looping for loop dengan menggunakan variabel yang diberi nama i, dimana variabel i tersebut akan bertambah nilainya sesuai dengan iterasi pada perulangan. For loop dilakukan sebanyak 10 iterasi, mulai dari iterasi ke-0 sampai dengan iterasi ke-9. Statement dalam for loop diberi indentasi sehingga menjorok ke arah kanan yang merupakan perintah untuk menampilkan angka sesuai iterasi.

In [33]:
array = ["mobil", "motor", "kereta"]

for i in array:
    print(i)

mobil
motor
kereta

## 4.2. While Loop

While loop adalah sebuah metode perulangan yang digunakan apabila belum diketahui seberapa banyak looping tersebut akan dilakukan. Untuk menghentikan perulangan pada while loop, digunakan suatu kondisi tertentu. While loop dituliskan dengan sintaks while kemudian diikuti dengan suatu kondisi tertentu, dimana jika selama kondisi tersebut masih terpenuhi maka proses perulangan terus dilakukan.

In [34]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

Kode diatas merupakan perintah looping dengan while loop menggunakan variabel yang diberi nama i sebagai kondisinya, dimana jika variabel i kurang dari 10, maka proses looping akan terus dijalankan. Statement atau block code dalam while loop juga harus memiliki indentasi untuk menandakan bahwa statement tersebut meupakan bagian dari while loop.

<h1 style="text-align: center;"> BAB 5 FUNGSI (FUNCTION) </h1>

Fungsi (function) adalah sebuah modul bawaan yang berfungsi untuk menampung beberapa block code yang akan dijakankan ketika function tersebut dipanggil. Untuk memanggil sebuah function hanya perlu menuliskan nama dari fungsi tersebut dan diikuti dengan tanda kurung (). Apabila pada fungsi terdapat argumen dapat ditambahkan di dalam kurung. Fungsi pada python didefinisikan dengan perintah def kemudian diikuti dengan nama fungsi tersebut, argument pada fungsi jika diperlukan dituliskan di dalam kurung dan titik dua (:) untuk memulai statement atau block code.

In [35]:
def halaman_utama():
    print("Hello World")
    
halaman_utama()

Hello World

Gambar diatas merupakan contoh dasar dari pembuatan fungsi di python. Pertama didefinisikan fungsi dengan sintaks def kemudian diikuti nama dari fungsi yang dibuat, yaitu halaman_utama. Pada contoh tersebut tidak terdapat argument yang dibutuhkan. Statement atau block code dalam fungsi harus memiliki indentasi untuk menandakan bahwa statement tersebut merupakan bagian dari fungsi. Pada contoh diatas bertujuan untuk mencetak "hello World" ketika fungsi tersebut dipanggil.

## 5.1. Argument in Function

Untuk membuat function dengan argument, perlu menambahkan argument tersebut di dalam kurung. Argument berfungsi untuk menerima sebuah nilai pada fungsi yang dibuat.

In [36]:
def calculator_tambah(angka1, angka2):
    hasil = angka1 + angka2
    print(hasil)
    
calculator_tambah(10, 20)

30

Kode diatas merupakan contoh fungsi dengan 2 argument, yaitu argument dengan nama angka1 dan angka2, dimana kedua argument tersebut akan menyimpan nilai yang telah ditentukan ketika fungsi dipanggil. Fungsi tersebut bertujuan untuk melakukan operasi penjumlahan pada nilai yang disimpan di dalam kedua argument tersebut. Perlu diperhatikan jika fungsi dibuat dengan menggunakan argument maka saat fungsi dipanggil, harus disertakan juga dengan argument-nya, karena jika tidak maka program akan menghasilkan error karena fungsi meminta argument-nya.

## 5.2. Return Value in Function

Return adalah sebuah fungsi yang ada di dalam fungsi yang berguna untuk mengembalikan suatu nilai tertentu. Return value dideklarasikan dengan sintaks "return" lalu diikuti dengan nilai yang mau dikembalikan. Return value digunakan untuk mengembalikan nilai yang nantinya nilai tersebut dapat disimpan dalam variabel lain untuk dilakukan proses selanjutnya.

In [37]:
def calculator_tambah(angka1, angka2):
    hasil = angka1 + angka2
    return hasil

nomor = calculator_tambah(10, 20)
print(nomor)

30

Kode diatas merupakan contoh fungsi menggunakan return, dimana return tersebut mengembalikan nilai dari hasil penjumlahan dua nilai yang disimpan dalam argumen angka1 dan angka2.

<h1 style="text-align: center;"> BAB 6 MODUL (LIBRARY) </h1>

Library adalah kumpulan fungsi dan method yang bisa digunakan berulang kali pada beberapa program berbeda dengan cara melakukan "import" library tersebut pada baris code. Library memudahkan programmer untuk membuat sebuah program, karena dengan menggunakan library, programmer tidak perlu menuliskan kode tertentu dari awal, cukup dengan melakukan "import" suatu library jika memang dalam library tersebut terdapat program yang dibutuhkan. Pada python terdapat banyak library yang telah tersedia. Sebagai contoh, ketika membuat program untuk mengolah gambar, terdapat library yang telah tersedia seperti open CV, PIL dan lain-lain. Programmer hanya perlu meng-import library yang dperlukan dan beberapa fungsi telah tersedia.

In [38]:
import numpy as np
import glob
import os
import matplotlib.pyplot as plt

Meng-import library dilakukan dengan cara menuliskan sintaks "import" kemudian diikuti dengan nama library-nya. Nama library juga bisa dialiaskan dengan nama yang lebih singkat menggunakan sintaks "as" sehingga lebih memudahkan dalam membuat program menggunakan library tersebut. Penggunaan library menjadi hal yang penting dalam membuat program, khususnya dalam bahasa pemrograman python, karena pada python sendiri terdapat banyak sekali library open source yang memudahkan programmer untuk membuat sebuah program.