# #01: MENUKAR NILAI ANTAR VARIABEL | SWAPPING VALUES

## Conventional Way

In [1]:
a = 10
b = 20
print('sebelum pertukaran')
print(f'a={a} dan b={b}')
c = a
a = b
b = c
print('setelah pertukaran')
print(f'a={a} dan b={b}')

sebelum pertukaran
a=10 dan b=20
setelah pertukaran
a=20 dan b=10

## Pythonic Way

In [2]:
x = 10
y = 20
print('sebelum pertukaran')
print(f'x={x} dan y={y}')
x, y = y, x
print('setelah pertukaran')
print(f'x={x} dan y={y}')

sebelum pertukaran
x=10 dan y=20
setelah pertukaran
x=20 dan y=10

# #02: PERBANDINGAN BERANTAI | CHAINED COMPARISON

## Conventional Way

In [3]:
a = 25
print(a >= 20 and a <= 30)

True

## Pythonic Way

In [4]:
x = 25
print(20 <= x <= 30)

True

# #03: PACKING

## Conventional Way

In [5]:
a = 10
b = 20
c = 30
d = [None]*3
d[0] = a
d[1] = b
d[2] = c
print(f'a={a}, b={b}, c={c}')
print(f'd={d}')

a=10, b=20, c=30
d=[10, 20, 30]

## Pythonic Way

In [6]:
x, y, z = 10, 20, 30
p = x, y, z
p_list = [x, y, z]
print(f'x={x}, y={y}, z={z}')
print(f'p={p}')
print(f'p_list={p_list}')

x=10, y=20, z=30
p=(10, 20, 30)
p_list=[10, 20, 30]

# #04: UNPACKING

## Conventional Way

In [7]:
p = [10, 20, 30]
a = p[0]
b = p[1]
c = p[2]
print(f'p={p}')
print(f'a={a}, b={b}, c={c}')

p=[10, 20, 30]
a=10, b=20, c=30

## Pythonic Way

In [8]:
p = [10, 20, 30]
x, y, z = p
print(f'p={p}')
print(f'x={x}, y={y}, z={z}')

p=[10, 20, 30]
x=10, y=20, z=30

# #05: FOR LOOP

## Conventional Way

In [9]:
list_ku = [10, 20, 30]
for i in range(len(list_ku)):
    print(list_ku[i])

10
20
30

## Pythonic Way

In [10]:
list_ku = [10, 20, 30]
for item in list_ku:
    print(item)

10
20
30

# #06: ENUMERATE

## Conventional Way

In [11]:
nim = ['001', '002', '003']
nama = ['bejo', 'karti', 'tejo']
for i in range(len(nim)):
    print(f'nim:{nim[i]} -- nama:{nama[i]}')

nim:001 -- nama:bejo
nim:002 -- nama:karti
nim:003 -- nama:tejo

## Pythonic Way

In [12]:
nim = ['001', '002', '003']
nama = ['bejo', 'karti', 'tejo']
for i, x in enumerate(nim):
    print(f'nim:{x} -- nama:{nama[i]}')

nim:001 -- nama:bejo
nim:002 -- nama:karti
nim:003 -- nama:tejo

# #07: ZIP

## Conventional Way

In [13]:
nim = ['001', '002', '003']
nama = ['bejo', 'ani', 'tejo']
for i in range(len(nim)):
    print(f'nim:{nim[i]} -- nama:{nama[i]}')

nim:001 -- nama:bejo
nim:002 -- nama:ani
nim:003 -- nama:tejo

## Pythonic Way

In [14]:
nim = ['001', '002', '003']
nama = ['bejo', 'ani', 'tejo']
for x, y in zip(nim, nama):
    print(f'nim:{x} -- nama:{y}')

nim:001 -- nama:bejo
nim:002 -- nama:ani
nim:003 -- nama:tejo

# #08: MAP

In [15]:
def lipat_ganda(x):
    return x*2

## Conventional Way

In [16]:
listku = [10, 20, 30]
listmu = []
for item in listku:
    listmu.append(lipat_ganda(item))

print(f'listku={listku}')
print(f'listmu={listmu}')

listku=[10, 20, 30]
listmu=[20, 40, 60]

## Pythonic Way

In [17]:
listku = [10, 20, 30]
listmu = list(map(lipat_ganda, listku))
print(f'listku={listku}')
print(f'listmu={listmu}')

listku=[10, 20, 30]
listmu=[20, 40, 60]

# #09: LAMBDA EXPRESSION

## Conventional Way

In [18]:
def lipat_ganda(x):
    return x*2

listku = [10, 20, 30]
listmu = list(map(lipat_ganda, listku))
print(f'listku={listku}')
print(f'listmu={listmu}')

listku=[10, 20, 30]
listmu=[20, 40, 60]

## Pythonic Way

In [19]:
listku = [10, 20, 30]
listmu = list(map(lambda x: x*2, listku))
print(f'listku={listku}')
print(f'listmu={listmu}')

listku=[10, 20, 30]
listmu=[20, 40, 60]

# #10: LIST COMPREHENSION

## Conventional Way

In [20]:
listku = []
for i in range(50):
    listku.append(i+1)
print(f'listku={listku}')

listku=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

## Pythonic Way

In [21]:
listku = [i+1 for i in range(50)]
print(f'listku={listku}')

listku=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

# #11: LIST COMPREHENSSION + CONDITIONAL IF

## Conventional Way

In [22]:
listmu = [30, 60, 10, 55]
listku = []
for nilai in listmu:
    if nilai > 50:
        listku.append(nilai)
print(f'listku={listku}')

listku=[60, 55]

## Pythonic Way

In [23]:
listmu = [30, 60, 10, 55]
listku = [nilai for nilai in listmu if nilai > 50]
listku1 = [nilai if nilai > 50 else None for nilai in listmu]
print(f'listku={listku}')
print(f'listku1={listku1}')

listku=[60, 55]
listku1=[None, 60, None, 55]

# #12: LIST COMPREHENSION + ZIP

## Conventional Way

In [24]:
nama = ['bejo', 'karti', 'tejo']
usia = [23, 31, 26]
listku = []
for i in range(len(nama)):
    listku.append([nama[i], usia[i]])
print(f'listku={listku}')

listku=[['bejo', 23], ['karti', 31], ['tejo', 26]]

## Pythonic Way

In [25]:
listku = [[d_nama, d_usia] for d_nama, d_usia in zip(nama, usia)]
print(f'listku={listku}')

listku=[['bejo', 23], ['karti', 31], ['tejo', 26]]

# #13: MEMOTONG LIST DAN STRING (SLICING LIST AND STRING)

## Conventional Way

In [26]:
listmu = [10, 20, 30, 40, 50, 60]
listku = []
for i in range(2, 5):
    listku.append(listmu[i])
print(f'listku={listku}')

listku=[30, 40, 50]

## Pythonic Way

In [27]:
listmu = [10, 20, 30, 40, 50, 60]
listku = listmu[2:5]
print(f'listku={listku}')

listku = listmu[4:]
print(f'listku={listku}')

listku = listmu[:3]
print(f'listku={listku}')

kata = 'PEMBELAJARAN'
print(kata[3:10])

listku=[30, 40, 50]
listku=[50, 60]
listku=[10, 20, 30]
BELAJAR

# #14: MEMBALIKKAN URUTAN LIST DAN STRING (REVERSING A LIST AND STRING)

## Conventional Way

In [28]:
listmu = [10, 20, 30, 40, 50, 60]
listku = []
for i in range(len(listmu)):
    reverse_i = len(listmu) - 1 - i
    listku.append(listmu[reverse_i])
print(f'listmu={listmu}')
print(f'listku={listku}')

listmu=[10, 20, 30, 40, 50, 60]
listku=[60, 50, 40, 30, 20, 10]

## Pythonic Way

In [29]:
listmu = [10, 20, 30, 40, 50, 60]
listku = listmu[::-1]
print(f'listmu={listmu}')
print(f'listku={listku}')

kata = 'BELAJAR'
print(kata[::-1])

listmu=[10, 20, 30, 40, 50, 60]
listku=[60, 50, 40, 30, 20, 10]
RAJALEB

# #15: MEMECAH SEKUMPULAN KATA DALAM KALIMAT KE DALAM LIST (SPLITTING A STRING)

## Conventional Way

In [30]:
teks = 'belajar python dasar'
listku = []
kata = ''
for huruf in teks:
    if huruf != ' ':
        kata += huruf
    else:
        listku.append(kata)
        kata = ''
listku.append(kata)
print(f'teks: {teks}')
print(f'listku: {listku}')

teks: belajar python dasar
listku: ['belajar', 'python', 'dasar']

## Pythonic Way

In [31]:
teks = 'belajar python dasar'
listku = teks.split()
print(f'teks: {teks}')
print(f'listku: {listku}')

teks: belajar python dasar
listku: ['belajar', 'python', 'dasar']

In [32]:
teks = 'belajar:python:dasar'
listku = teks.split(':')
print(f'teks: {teks}')
print(f'listku: {listku}')

teks: belajar:python:dasar
listku: ['belajar', 'python', 'dasar']

# #16: MENGGABUNGKAN SEKUMPULAN KATA MENJADI KALIMAT (STRING CONCATINATION)

## Conventional Way

In [33]:
listku = ['belajar', 'python', 'dasar']
kalimat = ''
for kata in listku:
    kalimat += kata + ' '
print(f'listku: {listku}')
print(f'kalimat: {kalimat}')

listku: ['belajar', 'python', 'dasar']
kalimat: belajar python dasar

## Pythonic Way

In [34]:
listku = ['belajar', 'python', 'dasar']
kalimat = ' '.join(listku)
print(f'listku: {listku}')
print(f'kalimat: {kalimat}')

listku: ['belajar', 'python', 'dasar']
kalimat: belajar python dasar

# #17: PEMANGGILAN FUNGSI BERANTAI (CHAINED FUNCTION CALL)

In [35]:
def tambah(a, b):
    return a + b

def kali(a, b):
    return a * b

x, y = 10, 20
kondisi = True

## Conventional Way

In [36]:
if kondisi:
    hasil = tambah(x, y)
else:
    hasil = kali(x, y)
print(f'hasil: {hasil}')

hasil: 30

## Pythonic Way

In [37]:
hasil = (tambah if kondisi else kali)(x, y)
print(f'hasil: {hasil}')

hasil: 30

# #18: PERCABANGAN DENGAN DICTIONARY (SWITCH CASE)

In [38]:
def one():
    print('satu-one')

def two():
    print('dua-two')

def three():
    print('tiga-three')

case = 'dua'

## Conventional Way

In [39]:
if case == 'satu':
    one()
elif case == 'dua':
    two()
elif case == 'tiga':
    three()

dua-two

## Pythonic Way

In [40]:
switch = {'satu': one,
          'dua': two,
          'tiga': three}

switch[case]()

dua-two

# #19: PENGGABUNGAN LIST

In [41]:
a = [10, 20, 30]
b = [40, 50, 60]

## Conventional Way

In [42]:
c = [None] * (len(a) + len(b))
for i in range(len(a)):
    c[i] = a[i]
for i in range(len(b)):
    c[i+len(a)] = b[i]
print(c)

[10, 20, 30, 40, 50, 60]

## Pythonic Way

In [43]:
c = a + b
print(c)

[10, 20, 30, 40, 50, 60]

# #20: EKSPRESI TERNARY (TERNARY EXPRESSION)

## Conventional Way

In [44]:
a = 10
if a < 0:
    b = 'negatif'
else:
    b = 'positif'
print(f'{a} bernilai {b}')

10 bernilai positif

## Pythonic Way

In [45]:
a = 10
b = 'negatif' if a < 0 else 'positif'
print(f'{a} bernilai {b}')

10 bernilai positif

# #21: MENGABAIKAN NILAI DENGAN UNDERSCORE (DON'T CARE)

## Conventional Way

In [46]:
for i in range(3):
    print('hello world')

hello world
hello world
hello world

## Pythonic Way

In [47]:
for _ in range(3):
    print('hello world')

hello world
hello world
hello world

In [48]:
x = [10, 20, 30, 40]
a, b, *_ = x
print(f'a:{a}, b:{b}')

a:10, b:20

In [49]:
x = [10, 20, 30, 40]
*_, a, b = x
print(f'a:{a}, b:{b}')

a:30, b:40

# #22: MENGENAL OPERATOR IN UNTUK MEMERIKSA KEBERADAAN SUATU NILAI

## Conventional Way

In [50]:
listku = [10, 20, 30, 40, 50]
dicari = 30
ketemu = False
for x in listku:
    if x == dicari:
        ketemu = True
        break
if ketemu:
    print('ditemukan')
else:
    print('tidak ditemukan')

ditemukan

## Pythonic Way

In [51]:
if dicari in listku:
    print('ditemukan')
else:
    print('tidak ditemukan')

ditemukan

# #23: MEMBUAT FUNGSI DENGAN MENGEMBALIKAN SEKUMPULAN NILAI (MULTIPLE RETURN VALUES)

## Conventional Way

In [52]:
def fungsiku():
    nim = '007'
    nama = 'asep'
    ipk = 1.25
    siswa = (nim, nama, ipk)
    return siswa

hasil = fungsiku()
print(f"hasil: {hasil}")
print(f'hasil1: {hasil[0]}')
print(f'hasil2: {hasil[1]}')
print(f'hasil3: {hasil[2]}')

hasil: ('007', 'asep', 1.25)
hasil1: 007
hasil2: asep
hasil3: 1.25

## Pythonic Way

In [53]:
def fungsiku():
    nim = '007'
    nama = 'asep'
    ipk = 1.25    
    return nim, nama, ipk

hasil = fungsiku()
print(f"hasil: {hasil}")
print(f'hasil1: {hasil[0]}')
print(f'hasil2: {hasil[1]}')
print(f'hasil2: {hasil[2]}')

hasil: ('007', 'asep', 1.25)
hasil1: 007
hasil2: asep
hasil2: 1.25

In [54]:
a, b, c = fungsiku()
print(f'hasil1: {a}')
print(f'hasil2: {b}')
print(f'hasil2: {c}')

hasil1: 007
hasil2: asep
hasil2: 1.25

# #24: ZIP UNTUK MENYATUKAN SEKUMPULAN LIST

## Conventional Way

In [55]:
nim = ['001', '002', '003']
nama = ['bejo', 'karti', 'tejo']
ipk = [3.25, 2.33, 1.88]
siswa = []
for i in range(len(nim)):
    siswa.append((nim[i], nama[i], ipk[i]))
print(f'siswa: {siswa}')

siswa: [('001', 'bejo', 3.25), ('002', 'karti', 2.33), ('003', 'tejo', 1.88)]

## Pythonic Way

In [56]:
nim = ['001', '002', '003']
nama = ['bejo', 'karti', 'tejo']
ipk = [3.25, 2.33, 1.88]
siswa = list(zip(nim, nama, ipk))
print(f'siswa: {siswa}')

siswa: [('001', 'bejo', 3.25), ('002', 'karti', 2.33), ('003', 'tejo', 1.88)]

# #25: FUNGSI UNZIP UNTUK MEMECAH SEKUMPULAN NILAI PADA LIST KE BEBERAPA VARIABEL

## Conventional Way

In [57]:
siswa = [('001', 'bejo', 3.25),
         ('002', 'karti', 2.33),
         ('003', 'tejo', 1.88)]
nim = []
nama = []
ipk = []
for data in siswa:
    nim.append(data[0])
    nama.append(data[1])
    ipk.append(data[2])
print(f'nim: {nim}')
print(f'nama: {nama}')
print(f'ipk: {ipk}')

nim: ['001', '002', '003']
nama: ['bejo', 'karti', 'tejo']
ipk: [3.25, 2.33, 1.88]

## Pythonic Way

In [58]:
siswa = [('001', 'bejo', 3.25),
         ('002', 'karti', 2.33),
         ('003', 'tejo', 1.88)]
nim, nama, ipk = zip(*siswa)
print(f'nim: {nim}')
print(f'nama: {nama}')
print(f'ipk: {ipk}')

nim: ('001', '002', '003')
nama: ('bejo', 'karti', 'tejo')
ipk: (3.25, 2.33, 1.88)

# #26: MENGELOLA RESOURCES DENGAN CONTEXT MANAGER

## Conventional Way

In [59]:
fileku = open('pesan.txt', 'w')
fileku.write('Ayo Belajar Pythoic\n')
fileku.write('Di Channel Indonesia Belajar\n')
fileku.close()

## Pythonic Way

In [60]:
with open('pesan.txt', 'w') as fileku:
    fileku.write('Semangat Belajar Pythoic\n')
    fileku.write('Dengan Channel Indonesia Belajar\n')

# #27: METHOD COUNT PADA LIST UNTUK MENGHITUNG JUMLAH KEMUNCULAN SUATU NILAI

In [61]:
listku = [30, 20, 60, 40, 20, 10, 30, 20]
hitung = 20
jumlah = 0

## Conventional Way

In [62]:
for item in listku:
    if item == hitung:
        jumlah += 1
print(f'Ditemukan {hitung} sejumlah {jumlah} buah dalam {listku}')

Ditemukan 20 sejumlah 3 buah dalam [30, 20, 60, 40, 20, 10, 30, 20]

## Pythonic Way

In [63]:
jumlah = listku.count(hitung)
print(f'Ditemukan {hitung} sejumlah {jumlah} buah dalam {listku}')

Ditemukan 20 sejumlah 3 buah dalam [30, 20, 60, 40, 20, 10, 30, 20]

# #28: FORMAT TEKS (STRING FORMATTING)

## Conventional Way

In [64]:
nama = 'bejo'
usia = 25
print('nama saya ' + nama + ' usia saya ' + str(usia) + ' tahun ') # java
print('nama saya %s usia saya %d tahun' % (nama, usia)) # C

nama saya bejo usia saya 25 tahun
nama saya bejo usia saya 25 tahun

## Pythonic Way

In [65]:
nama = 'bejo'
usia = 25
print('nama saya {} usia saya {} tahun'.format(nama, usia))
print('nama saya {1} usia saya {0} tahun'.format(usia, nama))

nama saya bejo usia saya 25 tahun
nama saya bejo usia saya 25 tahun

In [66]:
siswa = {'nim': '001',
         'nama': 'tejo',
         'usia': 35,
         'ipk': 3.75}
print('nama:{nama} usia:{usia}'.format(**siswa))

nama:tejo usia:35

In [67]:
nama = 'bejo'
usia = 25
print(f'nama:{nama} usia:{usia}')

nama:bejo usia:25

# #29: MENGGABUNGKAN DICTIONARY (MERGING DICTIONARIES)

## Conventional Way

In [68]:
data1 = {'nim': '001', 'nama': 'bejo'}
data2 = {'ipk': 3.25, 'semester': 4}
siswa = {}
for kunci in data1:
    siswa[kunci] = data1[kunci]
for kunci in data2:
    siswa[kunci] = data2[kunci]
print(f'siswa: {siswa}')

siswa: {'nim': '001', 'nama': 'bejo', 'ipk': 3.25, 'semester': 4}

## Pythonic Way

In [69]:
data1 = {'nim': '001', 'nama': 'bejo'}
data2 = {'ipk': 3.25, 'semester': 4}
siswa = {**data1, **data2}
print(f'siswa: {siswa}')

siswa: {'nim': '001', 'nama': 'bejo', 'ipk': 3.25, 'semester': 4}

In [70]:
data3 = {'kota': 'Palembang', 'hobi': 'mancing'}
siswa = {**data1, **data2, **data3}
print(f'siswa: {siswa}')

siswa: {'nim': '001', 'nama': 'bejo', 'ipk': 3.25, 'semester': 4, 'kota': 'Palembang', 'hobi': 'mancing'}

# #30: MENGGANTIKAN OPERATOR OR DENGAN OPERATOR IN

## Conventional Way

In [71]:
nama = 'bejo'

if nama == 'bejo' or nama == 'tejo' or nama == 'karti':
    print('Siswa teladan')
else:
    print('Siswa reguler')

Siswa teladan

## Pythonic Way

In [72]:
nama = 'bejo'

if nama in ('bejo', 'tejo', 'karti'):
    print('Siswa teladan')
else:
    print('Siswa reguler')

Siswa teladan

# #31: ELSE PADA FOR LOOP

In [73]:
kecepatan = [60, 40, 80, 60, 90, 30, 110, 20]
ambang_batas = 100

## Conventional Way

In [74]:
laju_normal = True
for laju in kecepatan:
    if laju > ambang_batas:
        laju_normal = False
        print('kecepatan melampaui ambang batas')
        break
if laju_normal:
    print('laju kendaraan normal')

kecepatan melampaui ambang batas

## Pythonic Way

In [75]:
for laju in kecepatan:
    if laju > ambang_batas:
        print('kecepatan melampaui ambang batas')
        break
else:
    print('laju kendaraan normal')

kecepatan melampaui ambang batas

# #32: PENANDA POSISI DIGIT (DIGITAL PLACEHOLDER) DENGAN KARAKTER UNDERSCORE (_)

## Conventional Way

In [76]:
gaji = 5000000
print(f'gaji: {gaji}')

gaji: 5000000

## Pythonic Way

In [77]:
gaji = 5_000_000
print(f'gaji: {gaji}')

gaji: 5000000

# #33: TABEL TRANSLASI (TRANSLATION TABLE) UNTUK STRING UNTUK STRING MAPPING

## Conventional Way

In [78]:
string_input = 'kota cirebon'
translasi = {
    'a': '4',
    'i': '1',
    'e': '3',
    'o': '0'
}
string_output = ''
for x in string_input:
    val = translasi.get(x)
    string_output += val if val else x
print(f'hasil konversi: {string_output}')

hasil konversi: k0t4 c1r3b0n

## Pythonic Way

In [81]:
sumber = 'aieo'
tujuan = '4130'
string_input = 'kota cirebon'

tabel_translasi = str.maketrans(sumber, tujuan)
string_output = string_input.translate(tabel_translasi)
print(f'hasil konversi: {string_output}')

hasil konversi: k0t4 c1r3b0n

# #34: PENGURUTAN DATA DENGAN METHOD SORT DAN FUNGSI SORTED

## Conventional Way

In [87]:
siswa = ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
print(f'siswa: {siswa}')
siswa.sort()
print(f'terurut: {siswa}')

siswa: ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
terurut: ['bejo rahmadi', 'karti susanti', 'tejo purnawan']

Method sort hanya dapat digunakan pada tipe data yang bersifat mutable. Method sort digunakan untuk melakukan pengurutan data secara **inplace** dan tidak menghasilkan objek baru, karena proses pengurutan data terjadi di dalam list tersebut tanpa menghasilkan objek baru. Artinya proses pengurutan data dengan method sort hanya dapat ditemui pada tipe data yang bersifat mutable. Method sort tidak dapat digunakan pada tipe data yang bersifat immutable contohnya tuple. Berikut contoh method sort apabila digunakan pada tipe data tuple.

In [86]:
siswa = ('karti susanti', 'tejo purnawan', 'bejo rahmadi')
siswa.sort()
print(f'terurut: {siswa}')

AttributeError: 'tuple' object has no attribute 'sort'

## Pythonic Way

In [84]:
siswa = ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
terurut = sorted(siswa)
print(f'siswa: {siswa}')
print(f'terurut: {terurut}')

siswa: ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
terurut: ['bejo rahmadi', 'karti susanti', 'tejo purnawan']

In [88]:
siswa = ('karti susanti', 'tejo purnawan', 'bejo rahmadi')
terurut = sorted(siswa)
print(f'siswa: {siswa}')
print(f'terurut: {terurut}')

siswa: ('karti susanti', 'tejo purnawan', 'bejo rahmadi')
terurut: ['bejo rahmadi', 'karti susanti', 'tejo purnawan']

# #35: PENGURUTAN DATA DENGAN CUSTOM KEY PADA FUNGSI SORTED

## Conventional Way

In [90]:
siswa = ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
print(f'siswa: {siswa}')
for i in range(len(siswa)-1):
    for j in range(i+1, len(siswa)):
        if siswa[i].split()[-1] > siswa[j].split()[-1]:
            siswa[i], siswa[j] = siswa[j], siswa[i]
print(f'terurut: {siswa}')

siswa: ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
terurut: ['tejo purnawan', 'bejo rahmadi', 'karti susanti']

## Pythonic Way

In [94]:
def custom_key(nama):
    return nama.split()[-1]

siswa = ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
terurut = sorted(siswa, key=custom_key)

print(f'siswa: {siswa}')
print(f'terurut: {terurut}')

siswa: ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
terurut: ['tejo purnawan', 'bejo rahmadi', 'karti susanti']

In [95]:
siswa = ['karti susanti', 'tejo purnawan', 'bejo rahmadi']
terurut1 = sorted(siswa, key=lambda x: x.split()[-1])
print(f'terurut1: {terurut1}')

terurut1: ['tejo purnawan', 'bejo rahmadi', 'karti susanti']

# #36: MULTIPLE ASIGNMENT UNTUK MERINGKAS INISIASI VARIABEL

## Conventional Way

In [96]:
a = 10
b = 10
c = 10
print(f'a:{a}, b:{b}, c:{c}')

a:10, b:10, c:10

## Pythonic Way

In [97]:
a = b = c = 10
print(f'a:{a}, b:{b}, c:{c}')

a:10, b:10, c:10

# #37: POSITIONAL ARGUMENT DAN KEYWORD ARGUMENT

In [98]:
def cetak_nama(f_name, l_name):
    print(f'{f_name} {l_name}')

## Conventional Way (Positional Argument)

In [99]:
cetak_nama('Karti', 'Susanti')
cetak_nama('Susanti', 'Karti')

Karti Susanti
Susanti Karti

## Pythonic Way (Keyword Argument)

In [101]:
cetak_nama(f_name='Karti', l_name='Susanti')
cetak_nama(l_name='Susanti', f_name='Karti')

Karti Susanti
Karti Susanti

# #38: UNPACKING ARGUMENT PADA PEMANGGILAN FUNGSI

In [103]:
def jumlahkan(p_satu, p_dua):
    return p_satu + p_dua

listku = [10, 20]
dictku = {'p_satu': 100, 'p_dua': 200}

## Conventional Way

In [104]:
hasil_list = jumlahkan(listku[0], listku[1])
hasil_dict = jumlahkan(dictku['p_satu'], dictku['p_dua'])
print(f'hasil_list: {hasil_list}')
print(f'hasil_dict: {hasil_dict}')

hasil_list: 30
hasil_dict: 300

## Pythonic Way

In [105]:
hasil_list = jumlahkan(*listku)
hasil_dict = jumlahkan(**dictku)
print(f'hasil_list: {hasil_list}')
print(f'hasil_dict: {hasil_dict}')

hasil_list: 30
hasil_dict: 300

# #39: MERANGKAI BEBERAPA METHOD STRING

In [106]:
x = '   Bahasa pemrograman python: guido van rossum '
print(f'x: {x}')

x:    Bahasa pemrograman python: guido van rossum

## Conventional Way

In [113]:
y = x.strip() # memangkas karakter spasi yang berlebih
print(f'y: {y}')
y = y.upper() # uppercase
print(f'y: {y}')
y = y.lower() #lowercase
print(f'y: {y}')
y = y.replace(':', ';') # mengganti karakter
print(f'y: {y}')

y: Bahasa pemrograman python: guido van rossum
y: BAHASA PEMROGRAMAN PYTHON: GUIDO VAN ROSSUM
y: bahasa pemrograman python: guido van rossum
y: bahasa pemrograman python; guido van rossum

## Pythonic Way

In [108]:
z = x.strip().upper().replace(':', ';')
print(f'z: {z}')

z: BAHASA PEMROGRAMAN PYTHON; GUIDO VAN ROSSUM

# #40: DEFAULT ARGUMENT (FUNCTION OVERLOADING)

## Conventional Way

In [119]:
def salam1(nama, pesan):
    print(f'Hai {nama}! {pesan}')
    
def salam_alternatif(nama):
    print(f'Hai {nama}')

salam1('Karti', 'Selamat Pagi')
salam1('Tejo', 'Apa kabar?')
salam1('Bejo', '')
salam_alternatif('Bejo')

Hai Karti! Selamat Pagi
Hai Tejo! Apa kabar?
Hai Bejo!
Hai Bejo

## Pythonic Way

In [120]:
def salam2(nama, pesan=''): # Function Overloading
    print(f'Hai {nama}! {pesan}')

salam2('Karti', 'Selamat Pagi')
salam2('Tejo', 'Apa kabar?')
salam2('Bejo')

Hai Karti! Selamat Pagi
Hai Tejo! Apa kabar?
Hai Bejo!